/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 0px;
}

/* Fit into iPhone 4 screen  iPhone 5 is just doubling this */
body {
	border: 3px solid black;
	margin: 0px;
	padding: 0px;
	width: 700pt;
	height: 960pt;
	overflow: hidden;
	position: relative;
}

#content {
	height: 880pt;
}

#toolbar {
	background: navy;
	border: 1px solid black;
	height: 80pt;
	
}

#toolbar .gwt-Button {
	border: none;
	background: none;
	color: white;
	cursor: pointer;
	font-size: 24pt;
	margin: 0pt 5pt;
	height: 80pt;
	width: 140pt;	
}

#toolbar .gwt-Button:hover {
	background-color: white;
	color: navy;
}

#info-page {
	border-radius: 20pt;
	background: whiteSmoke;
	
	margin: 0 20pt;
	padding: 20pt;
	
	position: relative;
	top: 20pt;
}