/** Add css rules here for your application. */


* {
	margin: 0;
	padding: 0;
}

div,
div div div,
div div div div div {
	border: 1px solid #999;
}

div div,
div div div div,
div div div div div div {
	border: 1px solid #CCC;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 0px;
}

/* Fit into iPhone 4 screen  iPhone 5 is just doubling this */
body {
	/* border: 1px solid red; */

	position: absolute;	
	width: 100%;
	height: 100%;
}

#content {
	position: absolute;
	width: 100%;
	top: 20pt;
}

#info-page {
	border-radius: 20pt;
	background: whiteSmoke;
	
	position: relative;
	margin: 0 20pt;
	padding: 20pt;
	top: 20pt;
}

#toolbar {
	background: olive;
	/* border: 1px solid black; */
	
	position: absolute;
	width: 100%;
	bottom: 0;
}

#toolbar .gwt-Button {
	border: none;
	background: none;
	color: white;
	
	cursor: pointer;
	font-size: 24pt;
	
	position: relative;
	margin: 0pt 5pt;
	height: 80pt;
}

#toolbar .gwt-Button:hover {
	background-color: white;
	color: olive;
}
.main {
}
.toolbar {
border: 5px solid red;
width: 100%;
}
.info {
	padding: 20pt;
	border: 1px solid #CCC;
	border-radius: 10pt;
	margin: 10pt;
}
.gwt-Button-toolbar {
	height: 40pt;
    width: 40pt;
}
. {
}